
@media screen and (min-width:200px) and (max-width:1450px) {
    body{
        background: whitesmoke;
        justify-content: center;
    }

    .navbar{
        margin: 5%;
        width: 955px;
        height: 130px;
        background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 

    }

    .principal{
        display: flex;
        flex-flow: row wrap;
        height: 1500px;
        width: 1000px;
    }
    
    .logo{
        flex: 10%;
        margin-left: 38%;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
    }

    #botao{
        background: rgb(154, 255, 157);
        padding: 5px 20px;
        color: rgb(13, 120, 36);
        border-radius: 5px;
        margin-right: 10%;
        margin-left: 5%;
    }
    
    #botao:hover{
        border: none;
        background-color: transparent;
        border: 2px solid rgb(59, 254, 98);
        color:rgb(59, 254, 98) ;
        cursor: pointer;
        box-shadow: 0 0 20px rgb(59, 254, 98);
        transition: all 0.2s ease-in-out;
    }
    
    .imagem{
        display: flex;
        flex-flow: row wrap;
        margin-left: 3%;  
        flex: 40%;
    }
    
    .imagem2{
        display: flex;
        flex-flow: row wrap;
        margin-left: 20%;
        margin-right: 20%;
        flex: 40%;
        margin-top: 50px;
    }
    
    .menu{
        flex: 50%;
        margin-left: 25%;
        padding: 4px;
    }
    
    .menu a{
        color: rgb(79, 69, 69);
        text-decoration: none;
        font-size: 20px;
        padding: 18px 11px;
        margin-left: 2%;
        background: rgb(195 255 197);
        color: rgb(13, 120, 36);
        border-radius: 5px;
        padding: 5px 20px;
    }
    
    .texto{
        flex: 30%;
        margin-top: 30px;
        text-align: justify;
        margin-left: 200px;
        margin-right: 200px;
        font-size: 20px;
    }

    .texto2{
        text-align:justify;
        flex: 40%;
        margin-top: 20px;
        margin-left: 200px;
        margin-right: 200px;
        font-size: 20px;
    }
}